@{
    ViewData["Title"] = "Mi primera vista";
    string autor = "Gabriel";
    int edad = 20;
}

<html>
	<head>
	<title>@ViewBag.Title</title>

    </head>
	<body>
		<div>
			<h1> Modificando una vista</h1>
			<p>
				<strong> Yo soy: </strong> @autor<br/>
				Mi edad es <input type = "number" value=" @edad" placeholder="20"/>
			</p>
		</div>
		<div>
			<label> Pertenezco al equipo de PI llamado: </label>
		<input type="text" placeholder="GEEMS" />
		</div>
		<div>
			<label> Mi carnet es: </label>
			<input type= "number" placeholder="C28741 "/>
		</div>
	</body>
</html>
